{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <button type="submit" class="btn btn-primary">Submit</button>
{% endblock %}

