{% extends 'base.html.twig' %}

{% block body %}
    <section class="grid p-1 place-items-center">
        <div class="container grid grid-cols-1 gap-8 my-auto lg:grid-cols-2">


            <div class="relative flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none grid gap-2 item sm:grid-cols-2">
                <div class="relative bg-clip-border rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg m-0"><img src="https://bucket.material-tailwind.com/magic-ai/06b38f84f9669f766048c469ce861b81880378273a11ae9badaedfc32868ef44.jpg" alt="Revolutionizing Our Production Process" class="object-cover w-full h-full" /></div>
                <div class="p-6 px-2 sm:pr-6 sm:pl-4">
                    <p class="block antialiased font-sans text-sm font-light leading-normal text-inherit mb-4 !font-semibold">Technology</p><a href="#" class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 normal-case transition-colors hover:text-gray-700">Revolutionizing Our Production Process</a>
                    <p class="block antialiased font-sans text-base leading-relaxed text-inherit mb-8 font-normal !text-gray-500">Learn how our recent investment in new technology has revolutionized our production process, leading to improved efficiency and product quality.</p>
                    <div class="flex items-center gap-4"><img src="https://bucket.material-tailwind.com/magic-ai/6b1c5941d417a2a32baee89c2f3d1975d7d4fb81e486ed43dc1082ac54b0658b.jpg" class="inline-block relative object-cover object-center !rounded-full w-12 h-12 rounded-lg" />
                        <div>
                            <p class="block antialiased font-sans text-base font-light leading-relaxed text-blue-gray-900 mb-0.5 !font-semibold">John Doe {{ foo }}</p>
                            <p class="block antialiased font-sans text-sm leading-normal text-gray-700 font-normal">2022-08-15</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}